.well {
  background-color: #f3f3f3;
  min-width: 2rem;
  min-height: 2rem;
  height: 7rem;
  width: 7rem;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.well:global(.selected) {
  /* background-color: #2185d0; */
  background-color: #d3e6f5;
}

.well:global(.dimmed) {
  opacity: 0.2;
}
