.topHeader {
  display: flex;
  flex-direction: row;
}

.cornerCell {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.columnHeader {
  display: flex;
  overflow: hidden;
}

.headerCellContainer {
  flex-shrink: 0;
}

.headerCell {
  height: 100%;
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}

.headerCell:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.rowHeader {
  overflow: hidden;
  flex-shrink: 0;
}

.body {
  display: flex;
  flex: 1 1 100%;
  overflow: hidden;
}

.row {
  display: flex;
}

.containerGrid {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.gridPositionContainer {
  flex-shrink: 0;
  padding: 5px;
}

.gridPosition {
  height: 100%;
  width: 100%;
  background-color: #f3f3f3;
}
