.tools {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  border-top: 1px solid rgba(34, 36, 38, 0.15);
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  padding: 0.4em 0.4em 0.4em 0.6em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 2.2em;
  flex: 0 0 2.2em;
  align-items: center;
}

.headerContent {
  text-transform: uppercase;
  font-size: 0.8em;
}

.menu {
  margin: 0 !important;
  border-radius: 0 !important;
  flex: 0 0 0%;
}
