.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textArea {
  height: 8em;
  margin-bottom: 1em !important;
}

.button {
  margin: 0 !important;
}

.message {
  text-align: center;
}