.container {
  height: 100%;
  width: 100%;
  padding: 2px;
  background-color: #f3f3f3;
  cursor: pointer;
  overflow: hidden;
}

.container:global(.selected) {
  background-color: #d3e6f5 !important;
}

.container:hover {
  background-color: #ececec;
}
