.steps {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.steps :global(.steps) {
  width: 100%;
  font-size: 0.8em;
}

.steps :global(.ui.steps .step) {
  padding: 0.6em;
}

.steps :global(.ui.steps .step .title) {
  font-size: 1em;
}

.steps :global(.ui.steps .step .description) {
  font-size: 0.9em;
}

.steps :global(.ui.ordered.steps .step:before) {
  font-size: 1.8em;
}
