.toolComponentList {
  padding: 0.4em 0.8em;
}

.toolComponent {
  align-items: center;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 9px;
  margin-bottom: 4px;
  opacity: 0.3;
  padding: 6px 4px;
  transition: opacity 0.1s ease;
}

.selected {
  opacity: 1;
}

.body {
  flex: 1;
}

.name {
  font-size: 10px;
  font-weight: bold;
  line-height: 10px;
  margin-left: 4px;
}

.description {
  font-size: 9px;
  line-height: 9px;
  margin-left: 4px;
  margin-top: 2px;
  opacity: 0.6;
}
