.toolComponentList {
  padding-bottom: 0.4em;
}

.toolComponent {
  padding: 8px;
}

.nameContainer {
  flex: 1 1;
  padding: 0px 6px;
}

.editForm {
  margin-top: 0.8em;
}

.validationErrors {
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 6px;
}
