.applyTool {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.addButtonsContainer {
  display: flex;
  flex: 0;
  flex-direction: row;
  padding: 0 0.8em 0.4em 0.8em;
}

.componentSearch {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  overflow: hidden;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.2em 0.8em 0.8em 0.8em;
}

.search {
  font-size: 0.8em;
  margin-right: 0.8em;
  flex: 1 1 100%;
}

.componentList {
  flex: 1 1 100%;
  overflow: auto;
}

.cancelContainer {
  flex: 0;
  text-align: right;
}

.cancelContainer :global(button) {
  margin-right: 0 !important;
}

.toolComponentsContainer {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  overflow: auto;
}

.toolComponentListContainer {
  width: 100%;
  overflow: auto;
  flex: 1 1;
  padding: 0 0.8em;
}

.selectedContainersContainer {
  border-top: 1px solid rgba(34, 36, 38, 0.15);
  flex: 0 1;
}
