.applyTool {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.addButtonsContainer {
  display: flex;
  flex: 0;
  flex-direction: row;
  padding: 0 0.8em;
}

.componentSearch {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  overflow: hidden;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search {
  font-size: 0.8em;
  padding: 0.8em;
  flex: 1 1 100%;
}

.componentList {
  flex: 1 1 100%;
  overflow: auto;
}

.cancelContainer {
  flex: 0;
  padding: 0.4em 0.8em 0.4em 0;
  text-align: right;
}

.cancelContainer :global(button) {
  margin-right: 0 !important;
}
