.plateTabBar {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.04);
  height: 30px;
}

.plateTab {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 0.8em;
  padding: 0 1em;
  cursor: pointer;
}

.plateTab:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.active,
.active:hover {
  background-color: #fff;
  font-weight: bold;
}

.addIcon {
  composes: plateTab;
  padding: 0;
  height: 30px;
  width: 30px;
}

.addIcon :global(i) {
  height: 100% !important;
  width: 100% !important;
  margin: 0 !important;
  line-height: 30px;
}
