.timepoint {
  display: flex;
  margin-top: 0.5em;
}

.timepoint:first-child {
  margin-top: 0;
}

.field {
  display: flex;
  align-items: center;
}

.timeField {
  composes: field;
  margin-right: 1em;
}

.concField {
  composes: field;
}

.timeInputContainer {
  width: 6em;
}

.concInputContainer {
  width: 6em;
}

.fieldIcon {
}

.removeIcon {
  color: #db2828;
  cursor: pointer;
  margin-left: 0.5em !important;
}
