.segment {
  padding: 0 1em !important;
}
.component {
  margin-bottom: 0.5em;
  opacity: 0.3;
  transition: opacity 0.1s ease;
}

.selected {
  opacity: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
  padding-bottom: 1em;
}

.expandable {
  cursor: pointer;
}

.name {
  font-weight: bold;
  margin-left: 0.65em;
}

.nameContainer {
  display: flex;
  align-items: center;
  line-height: 17px;
}

.body {
  padding-bottom: 1em;
}

.addTimepoint {
  cursor: pointer;
  margin-top: 1em;
}

.removeIcon {
  color: rgb(0, 0, 0, 0.4);
  margin: 0 !important;
  transition: color 0.1s ease !important;
}

.removeIcon:hover {
  color: rgb(0, 0, 0, 0.87);
}

.validationErrors {
  color: #db2828;
  margin-top: 0.5em;
}
