.plateTabBar {
  display: flex;
  flex-direction: row;
  background-color: #eaeaea;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height: 100%;
  align-items: flex-end;
}

.plateTab {
  height: 3em;
  display: flex;
  align-items: center;
  font-size: 0.86em;
  padding: 0 1em;
  cursor: pointer;
  flex-shrink: 0;
}

.plateTab :global(i) {
  margin: 0 0 0 0.2em !important;
  height: auto !important;
  color: rgba(0, 0, 0, 0.4);
}

.plateTab:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.active,
.active:hover {
  background-color: #f9f9f9;
  font-weight: bold;
}

.active :global(i) {
  color: rgba(0, 0, 0, 0.8);
}
.addIcon {
  composes: plateTab;
  padding: 0;
  width: 3em;
}

.addIcon :global(i) {
  height: 100% !important;
  width: 100% !important;
  margin: 0 !important;
  line-height: 38px !important;
  font-size: 1.26em !important;
}

.scrollContainer {
  flex: 1;
  height: 100%;
}

.tabContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: flex-end;
}

.dropdown {
  position: fixed !important;
  z-index: 1;
}
