.header {
  border-top: 1px solid rgba(34, 36, 38, 0.15);
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  padding: 0.4em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerContent {
  text-transform: uppercase;
  font-size: 0.8em;
}

.noComponentsMessage {
  padding: 1em;
  text-align: center;
  width: 100%;
}

.component {
  cursor: pointer;
  transition: all 0.1s ease;
  padding: 0.2em 1em;
  font-size: 0.8em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  align-items: center;
}

.component:hover {
  background-color: rgba(0,0,0,.03);
}

.notUsed {
  opacity: 0.8;
  font-weight: normal;
}

.search {
  font-size: 0.8em;
  padding: 0.8em;
}

.typeCircle {
  margin-right: 1em !important;
}

.componentLabel {
  font-size: 0.8em !important;
}