.selectTool {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.shortcutsContainer {
  flex: 1 1;
  overflow: auto;
  padding: 0 0.8em;
  width: 100%;
}

.selectedContainersContainer {
  border-top: 1px solid rgba(34, 36, 38, 0.15);
  flex: 0 1;
}
