.container {
  width: 100%;
  padding: 0 1em;
}

.plateContainer {
  position: relative;
}

.componentToolbar {
  position: absolute;
  top: 4em;
  right: 2em;
  width: 22rem;
  max-width: 22rem;
}

.addComponentsPanel {
  position: absolute;
  top: 4em;
  right: 30em;
  width: 22rem;
  max-width: 22rem;
}
