/* .select-step-container {
  margin-top: 2em;
  display: flex;
  justify-content: center;
} */
/* 
.select-step-centered {
  display: flex;
  margin: 0 1em;
  width: 90%;
  max-width: 80em;
  justify-content: space-between;
} */

/* .select-step-header-container {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
} */

/* .select-step-header-container .ui.header {
  margin: 0;
} */

/* .select-step-header-step {
  width: 2em;
  background: #000;
  color: #fff;
  border-radius: 1em;
  height: 2em;
  padding: 0.5em;
  line-height: 1em;
  text-align: center;
  margin-right: 1em;
} */

/* .select-step-header-step .icon{
  margin-left: -1px;
} */

/* .select-step-header-step.completed {
  background: #21ba45;
} */

/* .select-step-experiment {
  margin-bottom: 4em;
  flex: 0 0 48%;
} */

/* .select-step-plate-size-container {
  flex: 0 0 48%;
  display: flex;
  align-items: center;
  flex-direction: column;
} */

.select-step-plate-size {
}

.plate-size-form {
}

.plate-size-form-radios {
  margin-right: 2em;
  margin-left: 0.5em;
}

.plate-size-form-plate {
  color: rgba(0,0,0,.68);
  font-weight: bold;
  margin-top: 2em;
}

.plate-size-form-plate-rows {
  text-align: right;
  margin-right: 0.5em;
}

.plate-size-form-plate-columns {
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0.5em;
}

.plate-size-form-plate-columns-text {
  line-height: 0.8em;
}

.plate-size-form-plate .plate {
  height: 10em;
  width: 15em;
  background: #f3f4f5;
  border: 1px solid rgba(34, 36, 38, 0.15);
  display: flex;
}

.plate-size-form-plate .plate div {
  margin: auto;
}

.plate-size-form-plate-columns-input {
  width: 8em;
}

.plate-size-form-row-input {
  width: 8em;
}

.plate-size-form-row-text {
  width: 4em;
}

