.plateGrid {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.topHeader {
  display: flex;
  flex-direction: row;
}

.cornerCell {
  flex-shrink: 0;
}

.body {
  display: flex;
  flex: 1 1 100%;
  overflow: hidden;
}

.columnHeaders {
  display: flex;
  overflow: hidden;
}

.rowHeader {
  overflow: hidden;
  flex-shrink: 0;
}

.headerCellContainer {
  flex-shrink: 0;
}

.headerCell {
  height: 100%;
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.headerCell:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.row {
  display: flex;
}

.verticalTrack {
  border-radius: 5px;
  bottom: 2px;
  right: 2px;
  top: 2px;
}

.horizontalTrack {
  border-radius: 5px;
  bottom: 2px;
  left: 2px;
  right: 2px;
}

.wellContainer {
  flex-shrink: 0;
  padding: 5px;
}

.well {
  height: 100%;
  width: 100%;
  border-color: #f3f3f3;
  border-style: solid;
  height: 100%;
  width: 100%;
  padding: 2px;
  background-color: #f3f3f3;
  cursor: pointer;
  overflow: hidden;
}

.well:global(.selected) {
  background-color: #d3e6f5 !important;
}

.well:hover {
  background-color: #ececec;
}

.addContainer {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.2);
  display: flex;
  cursor: pointer;
}

.addContainer :global(i) {
  opacity: 0 !important;
  transition: all 0.1s ease;
}

.addContainer:hover :global(i) {
  opacity: 1 !important;
}
