.importErrorMessage {
  margin: 2em auto !important;
  width: 40em !important;
}

.componentImportErrors {
  max-height: 24em;
  min-height: 18em;
  overflow: auto;
  font-size: 0.8em;
}

.componentImportErrorsMessage {
  font-size: 0.8em;
  margin-bottom: 2em;
}

.componentImportErrorsList {
  padding: 0.5em 0 0 2em;
  margin: 0;
}

.componentImportErrors td {
  padding: 0 1em;
}

.successMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.successText {
  font-size: 1.2em;
  margin-top: 0.5em;
}

.addTimepoint {
  cursor: pointer;
  margin-top: 1em;
}

.timepointErrors {
  color: #db2828;
  margin-top: 0.5em;
}
