.applyTool {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  overflow: auto;
}

.componentsContainer {
  width: 100%;
  overflow: auto;
  flex: 1;
  padding: 1em;
}

.noComponentsMessage {
  margin-top: 1em;
  margin-bottom: 1.5em;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}

.selectedContainersContainer {
  padding: 1em;
  text-align: center;
  flex: 0;
  font-size: 0.8em;
  border-top: 1px solid rgba(34, 36, 38, 0.15);
}
