.activityHeader {
  padding: 0.4em 0.4em 0.4em 1.1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border-bottom: 1px solid rgba(34, 36, 38, 0.15); */
  align-items: center;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.1);
}

.activityName {
  font-size: 1.1em;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lastSave {
  margin-right: 1em;
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.4);
}

.error {
  color: #db2828;
  font-weight: bold;
}
