.print {
  height: 100%;
  overflow: auto;
}

.printButton {
  margin-left: 1em !important;
}

.loader {
  margin-top: 4em;
}

.errorMessage {
  margin: 2em auto !important;
  width: 40em !important;
}
