.printout {
  width: 100%;
}

.plate {
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid black;
}

.platesContainer {
  padding: 1em;
}

.plate th {
  border: 1px solid rgb(227, 229, 229);
  background: #f9fafb;
  font-size: 14px;
  height: 1.4em;
  width: 1.4em;
}

.plate td {
  border: 1px solid rgb(227, 229, 229);
  font-size: 8px;
  line-height: 1;
  width: 75px;
  height: 58px;
  vertical-align: top;
}

.container {
  page-break-after: always;
}

.content {
  margin: 1em;
}

.header {
  font-size: 0.8em;
  margin: 1em 1em 1em 1em;
}
