.printout {
  width: 100%;
}

.plate {
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid black;
}

.platesContainer {
  padding: 1em;
}

.plate th {
  border: 1px solid black;
  font-size: 14px;
}

.plate td {
  border: 1px solid black;
  font-size: 8px;
  line-height: 1;
  width: 75px;
  height: 58px;
}

.container {
  page-break-after: always;
}

.content {
  margin: 1em 1em 1em 2em;
}

.header {
  margin: 1em 1em 1em 1em;
}
