.printout {
  width: 100%;
}

.plate {
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid black;
}

.platesContainer {
  padding: 1em;
}

.plate th,
.plate td {
  border: 1px solid black;
}

.container {
  margin-bottom: 4em;
}

.header {
  padding: 1em;
}

.header h4 {
  margin-bottom: 0;
}