.radioContainer {
  margin-left: 0.5em;
  margin-right: 2em;
}

.plate {
  color: rgba(0, 0, 0, 0.68);
  font-weight: bold;
  margin-top: 2em;
}

.columns {
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0.5em;
}

.columnsInput {
  width: 8em;
}

.columnsText {
  line-height: 0.8em;
}

.rows {
  text-align: right;
  margin-right: 0.5em;
}

.rowInput {
  width: 8em;
}

.rowText {
  width: 4em;
}

.rectangle {
  height: 10em;
  width: 15em;
  background: #f3f4f5;
  border: 1px solid rgba(34, 36, 38, 0.15);
  display: flex;
}

.wellCount {
  margin: auto;
}
