.plate {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.topHeader {
  display: flex;
  flex-direction: row;
}

.cornerCell {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body {
  display: flex;
  height: 100%;
}

.columnHeader {
  display: flex;
  overflow: hidden;
}

.rowHeader {
  overflow: hidden;
  flex-shrink: 0;
}

.headerCellContainer {
  flex-shrink: 0;
}

.headerCell {
  height: 100%;
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}

.headerCell:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.row {
  display: flex;
}

.wellContainer {
  height: 100px;
  width: 100px;
  flex-shrink: 0;
  padding: 5px;
}

.wellPaddingContainer {
  padding: 5px;
  height: 100%;
  width: 100%;
  background-color: #f3f3f3;
  cursor: pointer;
}

.wellPaddingContainer:hover {
  background-color: #ececec;
}

.well {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-size: 9px;
  overflow: hidden;
}

.well:global(.selected) {
  background-color: #d3e6f5;
}

.wellComponent {
  color: #fff;
  padding: 6px 4px;
  margin-bottom: 4px;
  border-radius: 4px;
}

.wellComponentName {
  margin-left: 4px;
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
}

.wellComponentTimepoints {
  margin-left: 4px;
  font-size: 9px;
  line-height: 9px;
  margin-top: 2px;
  opacity: 0.6;
}

.attributeText {
  line-height: 9px;
  margin-left: 4px;
}

.attributeValue {
  font-weight: bold;
}

.settingsIcon {
  cursor: pointer;
}

.settings :global(.ui.form .inline.fields) {
  margin: 0;
}

.settings :global(label) {
  white-space: nowrap;
}

.details {
  padding: 0.4em 0.8em;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.details :global(.dropdown) {
  font-size: 0.8em !important;
}

.details :global(.ui.dropdown .menu > .item) {
  font-size: inherit;
}
