.plate {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.topHeader {
  display: flex;
  flex-direction: row;
}

.cornerCell {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body {
  display: flex;
  height: 100%;
}

.columnHeader {
  display: flex;
  overflow: hidden;
}

.rowHeader {
  overflow: hidden;
}

.headerCell {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.row {
  display: flex;
}

.well {
  height: 100px;
  width: 100px;
  flex-shrink: 0;
  padding: 5px;
}

.wellBackground {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 0;
}

.medium {
  flex: 1;
  height: 10px;
  background: #f2711c;
}

.components {
  display: flex;
  flex-wrap: wrap-reverse;
  flex: 1 1;
  flex-direction: row;
  align-content: flex-start;
}

.component {
  margin: 0 !important;
  height: 2em;
  width: 2em;
}

.settingsIcon {
  cursor: pointer;
}

.settings :global(.ui.form .inline.fields) {
  margin: 0;
}

.settings :global(label) {
  white-space: nowrap;
}
