.header {
  height: 3em;
  min-height: 3em;
}

.header :global(.item:before) {
  display: none;
}

.headerLink {
  display: flex;
}

.logo {
  margin-right: 1.5em;
  height: 1.5em !important;
  width: 1.5em !important;
}
