.timepoint {
  display: flex;
  margin-top: 0.5em;
  align-items: center;
}

.timepoint:first-child {
  margin-top: 0;
}

.field {
  display: flex;
  align-items: center;
}

.field:first-child {
  margin-right: 1em;
}

.field :global(label) {
  margin-right: 0.5em;
}

.inputContainer {
  width: 6em;
}

.removeIcon {
  color: #db2828;
  cursor: pointer;
  margin-left: 0.5em !important;
}
