.applyTool {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

.componentsContainer {
  width: 100%;
  overflow: auto;
  flex: 1;
  padding: 1em;
}

.noComponentsMessage {
  margin-top: 1em;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}

.selectedWellsContainer {
  padding: 1em;
  text-align: center;
  flex: 0;
  font-size: 0.8em;
}

.selectedWellsText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.selectedWellsButtonContainer {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}
