.tools {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0;
  display: flex;
  padding: 0.4em 0.8em;
}

.clickMode {
  display: flex;
  align-items: center;
}

.clickMode :global(form) {
  font-size: 0.8rem !important;
  padding-left: 1em;
}

.clickMode :global(.inline.fields) {
  margin: 0 !important;
}

.activeTool {
  flex: 1 1 100%;
  overflow: hidden;
}
